# Frontend public variables
VITE_REOWN_PROJECT_ID=
VITE_APP_URL=
VITE_BOHR_RPC_URL=https://rpc.bohr.life
VITE_BOHR_CHAIN_ID=968
VITE_INHERITANCE_KEY_CONTRACT_ADDRESS=0x825d966777D71b1E4987284c1551fd928dE27ff4

# Contract deployment (deployment only)
PRIVATE_KEY=
BOHR_RPC_URL=https://rpc.bohr.life

